{% extends 'base.html' %}

{% block title %}
    {{ object }}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Cuenta: {{ object }}</h1>

        {% if object.picture %}
            <img src="{{ object.picture.url }}" class="img-thumbnail rounded float-right" alt="{{ object.picture.url }}">
        {% endif %}
        
        <h3>Nombre: {{ object.first_name }}</h3>
        <h3>Apellido: {{ object.last_name }}</h3>
        {% if user_role == 'admin' %}
            <h3>País: {{ object.country }}<a href="{% url 'country-new' %}" class="badge mx-2">Agregar país</a></h3>
        {% else  %}
            <h3>País: {{ object.country }}</h3>
        {% endif %}
        <h3>Teléfono: {{ object.phone }}</h3>
        </br>
        </br>
        <h1>Roles</h1>
        <h3>
            {% if user_role == 'admin' %}
                Es Adminstrador
            {% elif user_role == 'client'  %}
                Es Cliente
            {% endif %}
        </h3>
        </br>
        </br>
        {% if can_edit %}
            <a href="{% url 'profile-update' object.pk %}">Modificar perfil</a>
            </br>
            <a href="{% url 'user-delete' object.user.pk %}">Eliminar cuenta</a>
        {% endif %}
    </div>
{% endblock %}