{% extends 'base.html' %}

{% block title %}
Blog - {{ object.user }}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Cuenta: {{ object.user.email }}</h1>
        <h3>Nombre: {{ object.first_name }}</h3>
        <h3>Apellido: {{ object.last_name }}</h3>
        <h3>País: {{ object.country }}</h3>
        <h3>Teléfono: {{ object.phone }}</h3>
        <h3>Foto: {{ object.picture }}</h3>

        </br>
        </br>
        <a href="{% url 'profile-update' object.pk %}">Modificar perfil</a>
        </br>
        <a href="{% url 'user-delete' object.pk %}">Eliminar cuenta</a>
    </div>
{% endblock %}