{% extends 'posts/base.html' %}
{% block title %}
    My Granito de Arena
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Últimos Posts</h1>
        </br>
        {% for post in object_list %}
            <h1><a href="#">{{ post.title }}</a></h1>
            <h2>Autor: <a href="#">{{ post.author }}</a></h2>
            <h3>Creado: {{ post.created }}</h3>
            <h3>Última edición: {{ post.last_modified }}</h3>
            <p>{{ post.content }}</p>
        {% endfor %}
    </div>
{% endblock %}
